name: Docker Image CI

on:
  workflow_dispatch:

jobs:

  Mend-Image-Scan:

    runs-on: ubuntu-latest
    
    env:
      LOCAL_IMAGE: ${{ github.event.repository.name }}:${{ github.ref_name }}
      DOCKERHUB_IMAGE: ${{ secrets.DOCKER_USERNAME }}/${{ ${{ github.event.repository.name }}:${{ github.run_id }}


    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag ${{ github.event.repository.name }}:${{ github.ref_name }}
    
    - name: Download Mend CLI
      run: |
        echo "Downlaoding the CLI"
        curl "https://downloads.mend.io/cli/linux_amd64/mend" -o /usr/local/bin/mend && chmod +x /usr/local/bin/mend
        
    - name: Print Mend CLI Version
      run: |
        echo "Current version of $(mend version)"
        
    - name: Run Mend CLI
      run: |
        mend image $LOCAL_IMAGE --scope "Aayans Sandbox//*//*" --non-interactive --local-pull
      env:
        MEND_USER_KEY: ${{ secrets.MEND_USER_KEY }}
        MEND_EMAIL: ${{ secrets.MEND_EMAIL }}
        MEND_URL: ${{ secrets.MEND_URL }}
        MEND_LOG_LEVEL: "DEBUG"
        
    - name: Docker Login
      uses: docker/login-action@v3.1.0
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}

    - name: Publish Image to Docker Registry
      run: |
        # Rename image to contain Dockerhub prefix and replace tag with workflow run ID
        docker tag $LOCAL_IMAGE $DOCKERHUB_IMAGE
        
        echo "Print list of images"
        docker image ls

        # Push image to private registry
        docker push $DOCKERHUB_IMAGE

    - name: Scan Dockerhub image 
      run: |
        # Remove local images to force CLI to pull from private registry
        docker rmi (docker image ls | awk '{print$1}')

        echo "List local images:"
        docker image ls

        mend image $DOCKERHUB_IMAGE --scope "Aayans Sandbox//*//*" --non-interactive
